.container { 
  width: 100%;
  height: 100vh;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container main { 
  background-color: #ffffff;
  width: 556px;
  padding: 2rem;
  padding-top: 4.5rem;
  border-radius: 0.75rem;
}
